<div class="container text-center question">
	<div class="row question animated 1 fadeInLeft">
	<img class="col-sm-4 img img-thumbnail" src="http://cdn.myanimelist.net/images/anime/5/47421.jpg">
	<span class="col-sm-8 animated 1 fadeInRight">
		<h1>Fullmetal Alchemist: Brotherhood</h1>
		In this world there exist alchemists, people who study and perform the art of alchemical transmutation—to manipulate objects and transform one object into another. They are bounded by the basic law of alchemy: in order to gain something you have to sacrifice something of the same value.<br><br>

		The main character is the famous alchemist Edward Elric—also known as the Fullmetal Alchemist—who almost lost his little brother, Alphonse, in an alchemical accident. Edward managed to attach his brother's soul to a large suit of armor. While he did manage to save his brother's life, he paid the terrible price of his limbs.<br><br>

		To get back what they've lost, the brothers embark on a journey to find the Philosopher's Stone that is said to amplify the powers of an alchemist enormously; however, on the way, they start uncovering a conspiracy that could endanger the entire nation, and they realize the misfortunes brought upon by the Philosopher's Stone.<br><br>

		Fullmetal Alchemist: Brotherhood is a re-telling of the story from the manga's point of view.</span><br><br><br>
		You might be able to watch it at these sites:<br>
		<img class="col-sm-2 btn btn-lrg" src="http://www.waoanime.tv/custom/anime/theme/images/waolog.png" href="http://www.waoanime.tv/anime/full-metal-alchemist-brotherhood/page/3/">
		<img class="col-sm-2 btn btn-lrg" src="http://kissanime.com/Content/images/logo.png" href="http://kissanime.com/Anime/Fullmetal-Alchemist-Dub">
		<img class="col-sm-2 btn btn-lrg" src="http://animeshow.tv/img/logo.png" href="http://animeshow.tv/Fullmetal-Alchemist-Brotherhood/">
	</div>
	<div class="animated 1 fadeInUp">
		<div class="col-sm-4 animated 1 fadeInLeft">
			<ul class="text-left">
				<li>Episodes:   64</li>
				<li>Aired:      Apr 5 2009 to Jul 4, 2010</li>
				<li>Score:      9.25<small>(scored by 311246 users)</small></li>
				<li>Popularity: #5</li>
			</ul>
		</div>
		<div class="col-sm-8 animated 1 fadeInRight">
			<h2>Top review:</h2><br>
			<strong>User: tazillo</strong><br>
			First of all, I have seen the original FMA and although it was very popular and original, the pacing and conclusion did not sit too well with me. Brotherhood is meant to be a remake of the original, this time sticking to the manga all the way through, but there were people who thought it would spoil the franchise. That myth should be dispelled, as there's only one word to describe this series - EPIC.<br><br>

			I admit that as I've seen the original and read the manga, the pacing of Brotherhood seems to start off being VERY fast (I finally got used to the pacing after read more
		</div>
	</div>
</div>