<div class="container text-center question">
	<div class="row question">
	So your new! Awsome I've got a ton of anime for you, But lets get more specific.<br>
	What type of anime interest you?<br>
	</div>
	<div class="row question">
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUpBig" href="#FantasyActionAdventure">
		Fantasy Action Adventure
	</a>
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUpBig" href="#FantasyActionDrama">
		Fantasy Action Drama
	</a>
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUpBig" href="#RoadTripClassic">
		Road Trip Classic
	</a>
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUpBig" href="#Comedy">
		Comedy
	</a>
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUpBig" href="#CrimeDrama">
		Crime Drama
	</a>
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUpBig" href="#ScienceFiction">
		Science Fiction
	</a>
	</div>
</div>