<div class="container text-center question">
	<div class="row ">
	Awesome so your familier with some anime, but still wanting to explore.<br>
	Well let see which genre you are in the mood for?
	</div>
	<div class="row question">
		<a class="col-sm-4 btn btn-lg" href="#newtoanime">
			Dynamic(<small>Action-Adventure</small>)</a>

		<a class="col-sm-4 btn btn-lg" href="#animewatcher">
			Funny(<small>Comedy</small>)</a>

		<a class="col-sm-4 btn btn-lg" href="#animeobsessed">
			Calm(<small>Slice of Life(Comedy)</small>)</a>

		<a class="col-sm-4 btn btn-lg" href="#animeobsessed">
			Moving(<small>Slice of Life(Drama)</small>)</a>

		<a class="col-sm-4 btn btn-lg" href="#animeobsessed">
			Mature(<small>Drama</small>)</a>

		<a class="col-sm-4 btn btn-lg" href="#animeobsessed">
			Intensive(<small>Thriller</small>)</a>

		<a class="col-sm-4 btn btn-lg" href="#animeobsessed">
			Scary(<small>Horror</small>)</a>
	</div>
</div>