<div class="container text-center question">
	<div class="row question animated 1 fadeInDown">
	Cool, Cool.<br>
	What setting would you like?<br>
	</div>
	<div class="row question">
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUp" href="#FullmetalAlchemistBrotherhood">
		Steampunk (<small>magic, guns, early 1900s</small>)
	</a>
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUp" href="#fad">
		Oriental (<small>djinns, mages</small>)
	</a>
	<a class="col-sm-4 btn btn-lg animated 1 fadeInUp" href="#rtc">
		Medieval (<small>angles, demons, bounty hunters</small>)
	</a>
	</div>
</div>