<div class="container text-center question">
	<div class="row question animated 1 fadeInDown">
	So your new! Awsome I've got a ton of anime for you, But lets get more specific.<br>
	What type of anime interest you?<br>
	</div>
	<div class="row question">
	<a class="col-sm-3 btn btn-lg animated 1 fadeInUp" href="#FantasyActionAdventure">
		Fantasy Action Adventure
	</a>
	<a class="col-sm-3 btn btn-lg animated 1 fadeInUp" href="#FantasyActionDrama">
		Fantasy Action Drama
	</a>
	<a class="col-sm-3 btn btn-lg animated 1 fadeInUp" href="#RoadTripClassic">
		Road Trip Classic
	</a>
	<a class="col-sm-3 btn btn-lg animated 1 fadeInUp" href="#Comedy">
		Comedy
	</a>
	<a class="col-sm-3 btn btn-lg animated 1 fadeInUp" href="#CrimeDrama">
		Crime Drama
	</a>
	<a class="col-sm-3 btn btn-lg animated 1 fadeInUp" href="#ScienceFiction">
		Science Fiction
	</a>
	</div>
</div>